@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
label {
  font-family: 'Roboto', sans-serif;
}

@layer base {
  :root {
    --primary: 4 100% 67%;
    --grey: 235 18% 26%;
    --dark: 234 29% 20%;
    --light: 231 7% 60%;
    --white: 0 0% 100%;
  }
} */